td{
  width: 70px;
  height: 30px;
  text-align: center;
  font-size: 170%;
  border-radius: 25px;
}
.desocupado{
  background-color: #4CAF50;
}
.ocupado{
  background-color: #C82222;
  color: white;
}

#Asiento{
  background: #65E3F7;
  width: 250px;
  padding: 10px;
  margin: 15px;
  font-family:"Comic Sans MS";
  border-style: groove;
}
#asientos{
  border-style: groove;
  width: 650px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#Reservar {
  background: #06266A;
  color: white;
  width: 350px;
  padding: 15px 15px;
  margin: 15px;
  font-family:"Comic Sans MS";
  border-style: groove;
}
.button2{
  background-color: #0F76C6;
  border: 2px solid #0A67AF;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.lista {
  background: #22A1C8;
  width: 300px;
  padding: 20px;
  margin: 15px;
  font-family:"Comic Sans MS";
}
button{
  background-color: #A8B9C6;
  border: none;
  color: white;
  padding: 12px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
}

h1{
  color:#0E84DF;
  text-shadow: #0ED4DF;
}
